<div class="ml-4 mt-4">
  <form method="POST" action="">
    <div class="form-group">
      <label for="exampleInputEmail1">Từ khóa</label>
      <input
        type="text"
        class="form-control"
        name="q"
        id="exampleInputEmail1"
        placeholder="Nhập từ khóa"
      />
    </div>
    <div class="form-group">
      <label for="gender-input">Giới tính</label>
      <select
        name="gender"
        id="gender-input"
        placeholder="Nhập từ khóa"
      >
      <option value="">-- chọn giới tính --</option>
      <option value="male">Nam</option>
      <option value="female">Nữ</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
  </form>
</div>